<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rui Makes Stuff</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Header -->
    <header id="home">
        <div class="container header-content">
            <h1>Rui Makes Stuff</h1>
        </div>
    </header>
    
    <!-- Navigation -->
    <nav>
        <ul class="nav-links">
            <li><a href="./index.html#about">Home</a></li>
            {% for section_key, section in sections.items() %}
            <li><a href="#{{ section_key }}">{{ section.nav_title }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <!-- About Section -->
    <section id="about" class="about">
        <div class="container">
            <div class="about-content">
                <p>Exploring the art of cosplay, miniatures</p>
                <p>Feel free to reach out if you'd like to connect with me about any of these interests!</p>
            </div>
        </div>
    </section>

    {% for section_key, section in sections.items() %}
    <section id="{{ section_key }}">
        <div class="container">
            <div class="section-header">
                <h2>{{ section.header }}</h2>
                <p>{{ section.description }}</p>
            </div>
            <div class="gallery">
                {% for item in section.projects %}
                <a href="{{ item.project_path }}" class="gallery-link">
                    <div class="gallery-item">
                        <img src="{{ item.key_img }}" alt="{{ item.title }}" class="gallery-img">
                        <div class="gallery-content">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.caption }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
    
    <!-- Footer -->
    <footer>
        <div class="footer-content">
          <ul class="footer-links">
            <li><a href="https://instagram.com/campos.rui" target="_blank" aria-label="Insta"><img src="./imgs/icons/insta_32.jpg" alt="Insta"></a></li>
            <li><a href="https://linkedin.com/in/ruincampos" target="_blank" aria-label="LinkedIn"><img src="./imgs/icons/linkedin_32.jpg" alt="LinkedIn"></a></li>
          </ul>
          <p>© 2025 a Rui Makes Stuff production</p>
        </div>
      </footer>
    </body>
</html>